:root {
  --grey: #808080;
  --greyLt: #D3D3D3;
  --whiteSmoke: #F5F5F5;
  --darkSlate: #2B3856;
  --royalBlue: #0A2463;
  --shadowBlue: #778FA8;
  --azureishWhite: #CEE5F2;
  --lightBlueSteel: #ACCBE1;
  --weldonBlue: #7C98B3;
}